<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shivchauhan.csenotes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSENotes">
        <activity
            android:name=".forgot_password"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".Register"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".Login_Register_main"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1720186780950212~6179623631" />

        <activity
            android:name=".chem"
            android:exported="false" />
        <activity
            android:name=".maths2"
            android:exported="false" />
        <activity
            android:name=".maths1"
            android:exported="false" />
        <activity
            android:name=".Sem5"
            android:exported="false" />
        <activity
            android:name=".Sem4"
            android:exported="false" />
        <activity
            android:name=".Sem3"
            android:exported="false" />
        <activity
            android:name=".splash_screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sem2"
            android:exported="true"
            android:label="2nd Semester"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".Sem1"
            android:exported="true"
            android:label="1st Semester"
            android:parentActivityName=".Dashboard" />
        <activity
            android:name=".Dashboard"
            android:exported="true" />
    </application>

</manifest>